body {
    background-color: #fbfbfe; /* Light background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #fbfbfe; /* Light background */
    padding: 10px 20px;
}

.logo {
    color: #2e2ed4; /* Primary color */
    font-size: 24px;
    /* font-weight: bold;       */
          

}

.wrapper {
    
    max-width: 400px;
    width: 100%;
    padding: 30px;
    margin: 50px auto 20px auto;
    background-color: #ffffff; /* White */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #2e2ed4; /* Primary color */
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #04040b; /* Primary color */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #2e2ed4; /* Primary color */ 
    color: #ffffff; /* White text */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2e2ed4; /* Darker shade of primary color */
}
